STORE_CONNECTION_STRING="mongodb://mongodb:password@localhost:27017"
STORE_DATABASE_NAME="dev-lightstream-engine"

SERVICE_A_CONNECTION_STRING="postgresql://postgres:postgres@localhost:5432/database_a"
SERVICE_B_CONNECTION_STRING="postgresql://postgres:postgres@localhost:5432/database_b"
SERVICE_C_CONNECTION_STRING="postgresql://postgres:postgres@localhost:5432/database_c"
